body{
	background-color: #fff;
	background-image: none;
}

#web-text{
	color: rgb(0,170,210);
	font-size: 100px;
	padding-top: 20px;
}

.bttn{
	padding: 15px 40px;
	font-size: 25px;
	margin: 0;
	border-color: #fff;
	color: #fff;
}

.bttn:hover{
	background-color: #fff;
	border-color: #fff;
	color: rgb(0,170,210);
}

form {
	display: flex;
	flex-direction: column;
	width: 20vw;
	align-items: center;
	margin: auto;
	margin-top: 30px;
	background-color: rgb(0,170,210);
	padding: 80px 250px;
	border-radius: 30px;

}

label{
	font-size: 25px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.2px;
}

input[type=text], input[type=password]{
	padding: 10px 15px;
	width:300px;
	border-radius: 10px;
	border: 2px solid rgb(0,170,210);
	font-size: 20px;
	color:rgb(0,170,210);
}

button{
	background-color: rgb(0,170,210);
}

@media screen and (max-width: 1200px){
	

	#web-text{
		font-size: 70px;
	}

	form{
		width: 80vw;
		padding: 25px 20px;
	}

	label{
		font-size: 18px;
	}


    input[type=text], input[type=password]{
	padding: 8px 10px;
	width:250px;
}

.bttn{
		font-size: 20px;
		margin:10px;
		padding: 12px 15px;
		text-align: center;
		border: 3px solid #fff;
		width: 150px;
	}


}


@media screen and (max-width: 800px){
	

	#web-text{
		font-size: 50px;
	}

	form{
		width: 80vw;
		padding: 25px 20px;
	}

	label{
		font-size: 18px;
	}


    input[type=text], input[type=password]{
	padding: 8px 10px;
	width:250px;
}

.bttn{
		font-size: 20px;
		margin:10px;
		padding: 12px 15px;
		text-align: center;
		border: 3px solid #fff;
		width: 150px;
	}


}






